
  <!DOCTYPE html>
<html>

<head>
    <title>Add user</title>
    <!-- Add Angular and other necessary scripts here -->
</head>

<body><div *ngIf="hasPermission(Permissions.createUserPermission)">
    <form (ngSubmit)="addUser()">
      <input type="text" [(ngModel)]="firstName" placeholder="First Name" name="firstName">
      <input type="text" [(ngModel)]="lastName" placeholder="Last Name" name="lastName">
      <input type="email" [(ngModel)]="mail" placeholder="Mail" name="mail">
      <input type="password" [(ngModel)]="password" placeholder="Password" name="password">
      <input type="range" min="0" max="1024" [(ngModel)]="permissions" name="permissions">
      <button type="submit" [disabled]="!isFormValid()">Submit</button>
    </form>
  </div>
</body>

</html>